.header {
  display: block;
  top: 0;
  position: absolute;
  width: 100%;
  margin: 0;
  left: 0;
}

.acesso-rapido {
  background-color: #A65400;
  height: 2.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.redes {
  display: flex;
  align-items: center;
}

.logo {
  margin-left: 10em;
}

.logo-instagram img {
  display: flex;
  margin-left: 35px;
}

.logo-facebook img {
  display: flex;
  margin-left: 15px;
}

.traço {
  display: flex;
  margin-left: 20px;  
}

.fale-conosco {
  display: flex;
  margin-left: 20px;
  text-decoration: none;
  color: white;
}

.logo-map {
  display: flex;
  margin-right: 35px;
  text-decoration: none;
  color: white;
  font-size: 14px;
}

.logo-map img {
  margin-right: 10px;
}

.layout-logo {
  height: 6em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F79836;
}

.logo {
  display: flex;
  align-items: center;
}

.navbar {
  margin-right: 10em;
}

.navbar a{
  margin-left: 20px;
}
